<header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</header>
<main>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img src="{{this.creator?.avatar}}" alt="Avatar">
      </div>
      <div class="profile-user-settings">
        <h1 class="profile-user-name">{{this.user?.nickname}}</h1>
        <span class="profile-real-name">@{{this.user?.username}}</span>
        <!--<div class="artist-type">{{this.creator?.creatorType?.replace('_', ' ')}}</div>-->
        <!--<button class="btn-reload" (click)="reload()">Refresh<i class='fas fa-redo'></i></button>-->
      </div>
      <div class="profile-stats">
        <div class="stat">
          <span class="profile-stat-count">{{this.user?.fanIds?.length}}</span>
          fans
        </div>
        <div class="stat">
          <span class="profile-stat-count">{{this.user?.inspirerIds?.length}}</span>
          inspirers
        </div>
      </div>
      <div class="profile-name">
        <button class="btn-follow" *ngIf="!this.sameId && !this.followed" (click)="this.follow()">Follow</button>
        <button class="btn-unfollow" *ngIf="!this.sameId && this.followed" (click)="this.unfollow()">Unfollow</button>
        <button class="btn-edit" *ngIf="sameId" [routerLink]="'/profile'">Edit</button>
        <!--<h3>{{this.creator?.creatorType}}</h3>-->
      </div>
    </div>
    <div class="nav">
      <a href="javascript:void(0)" [routerLink]="'/about/' + this.userId">About</a>
      <a href="javascript:void(0)" [routerLink]="'/portfolio/' + this.userId">Portfolio</a>
      <a class="active" href="javascript:void(0)" [routerLink]="'/collaborations/' + this.userId">Collaborations</a>
      <a href="javascript:void(0)" [routerLink]="'/events/' + this.userId">Events</a>
      <a href="javascript:void(0)" [routerLink]="'/shop/' + this.userId">Shop</a>
    </div>
    <div class="loader" *ngIf="user==null"></div>

    <div class="gallery-container">
      <div class="add-pub" *ngIf="(this.ownId != null) && (this.ownId == this.userId)" (click)="SendCollaboration()">Send collaboration</div>
      <div *ngIf="(this.listArtworks != undefined && this.listArtworks.length > 0)" class="gallery-c">
        <h2>Artworks</h2>
        <div class="gallery-item" tabindex="0" *ngFor="let publication of listArtworks"
             [routerLink]="'/artwork/' + publication.id">


          <img src="{{publication.images[0]}}" class="gallery-image" alt="">
          <div class="gallery-item-info">

            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart"
                                                                                           aria-hidden="true"></i>{{this.getLikesCount(publication.id)}}
              </li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                                                                 aria-hidden="true"></i> {{this.getCommentsCount(publication.id)}}
              </li>
            </ul>

          </div>

        </div>
      </div>
      <div *ngIf="(this.listEvents != undefined && this.listEvents.length > 0)" class="gallery-c">
            <h2>Events</h2>
            <div class="gallery-item" tabindex="0" *ngFor="let publication of listEvents"
             [routerLink]="'/event/' + publication.id">


          <img src="{{publication.image}}" class="gallery-image" alt="">
          <div class="gallery-item-info">

            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart"
                                                                                           aria-hidden="true"></i>{{this.getLikesCount(publication.id)}}
              </li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                                                                 aria-hidden="true"></i> {{this.getCommentsCount(publication.id)}}
              </li>
            </ul>

          </div>

        </div>
          </div>
      <div *ngIf="(this.listPost != undefined && this.listPost.length > 0)" class="gallery-c">
          <h2>Posts</h2>
          <div class="gallery-post" *ngFor="let publication of listPost" [routerLink]="'/post/' + publication.id">
            <h3>{{publication.title}}<p id="lastUpdate">Last update: {{publication.lastUpdate | date:'medium'}}</p></h3>
            <p>{{publication.body}}</p>
            <div class="post-item-info">

              <ul>
                <li class="post-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart"
                                                                                          aria-hidden="true"></i>{{this.getLikesCount(publication.id)}}
                </li>
                <li class="post-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                                                                aria-hidden="true"></i>{{this.getCommentsCount(publication.id)}}
                </li>
              </ul>

          </div>
        </div>
        </div>
      <div class="loader" *ngIf="listPublicationInfo == undefined"></div>
    </div>
  </div>
</main>
