<header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</header>

<main>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img src="{{this.creator?.avatar}}" alt="Avatar">
      </div>
      <div class="profile-user-settings">
        <h1 class="profile-user-name">{{this.user?.nickname}}</h1>
        <span class="profile-real-name">@{{this.user?.username}}</span>
        <!--<div class="artist-type">{{this.creator?.creatorType?.replace('_', ' ')}}</div>-->
        <!--<button class="btn-reload" (click)="reload()">Refresh<i class='fas fa-redo'></i></button>-->
      </div>
      <div class="profile-stats">
        <div class="stat">
          <span class="profile-stat-count">{{this.user?.fanIds?.length}}</span>
          fans
        </div>
        <div class="stat">
          <span class="profile-stat-count">{{this.user?.inspirerIds?.length}}</span>
          inspirers
        </div>
      </div>
      <div class="profile-name">
        <button class="btn-follow" *ngIf="!this.sameId && !this.followed" (click)="this.follow()">Follow</button>
        <button class="btn-unfollow" *ngIf="!this.sameId && this.followed" (click)="this.unfollow()">Unfollow</button>
        <button class="btn-edit" *ngIf="sameId" [routerLink]="'/profile'">Edit</button>
        <!--<h3>{{this.creator?.creatorType}}</h3>-->

      </div>
    </div>
    <!-- End of profile section -->
    <div class="nav">
      <a [routerLink]="'/about/' + this.userId" class="active">About</a>
      <a [routerLink]="'/portfolio/' + this.userId">Portfolio</a>
      <a [routerLink]="'/collaborations/' + this.userId">Collaborations</a>
      <a [routerLink]="'/events/' + this.userId">Events</a>
      <a [routerLink]="'/shop/' + this.userId">Shop</a>
    </div>
    <!-- End of container -->
    <div class="about-container">
      <div class="profile-bio">
        <h3>Biography</h3>
        <p class="bio">
          <markdown [data]="this.creator?.bio"></markdown>&nbsp;
        </p>
        <div class="contacts">
          <h3>Contacts</h3>
          <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <div class="contacts-links">
            <a class="fa fa-spotify" href="#" title="Spotify"></a>
            <a class="fa fa-facebook" href="#" title="Facebook"></a>
            <a class="fa fa-twitter" href="#" title="Twitter"></a>
            <a class="fa fa-instagram" href="#" title="Instagram"></a>
          </div>
        </div>
        <button class="tip-button" (click)="(popup = true)">Send a tip</button>
      </div>
      <div class="list-post">
        <h3>Latest posts</h3>
        <p class="no-posts" *ngIf="(listPosts != undefined && listPosts.length<=0)">Nothing to see here... yet</p>
        <!--*ngIf="(this.listPosts != undefined && this.listPosts.length > 0)"-->
        <a *ngIf="sameId" [routerLink]="'/modify-post/'" class="add-post">+ Add post</a>
        <a *ngFor="let publication of listPosts" [routerLink]="'/post/' + publication.id" class="post">
          <div class="post-info">
            <img class="post-icon" src="../../assets/post-icon.png" alt="">
            <div class="post-title-date">
              <h4 class="post-title">{{publication.title}}</h4>
              <p class="post-date" id="lastUpdate">{{publication.lastUpdate | date:'medium'}}</p>
            </div>
          </div>
          <div class="post-interactions">
            <div class="reaction-wrapper">
              <div class="count">
                <img alt="" class="icon" src="../../assets/heart-outline.png">
                <p class="count-label">{{this.getLikesCount(publication.id)}}</p>
              </div>
              <div class="count">
                <img alt="" class="icon" src="../../assets/bubble-outline.png">
                <p class="count-label">{{this.getCommentsCount(publication.id)}}</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div id="popup1" class="overlay" *ngIf="popup">
      <div class="popup">
        <div class="content">
          <form
            #f="ngForm"
            (ngSubmit)="f.form.valid && submitTip()"
            name="form"
            novalidate>

            <div class="donation-box">
              <label>Import</label>
              <input #imp="ngModel"
                [(ngModel)]="form.imp"
                class="form-control"
                name="imp"
                required
                type="text"
              />
              <div
                *ngIf="imp.errors && f.submitted"
                class="alert alert-danger"
                role="alert"
              >
                Import is required!
              </div>
            </div>
            <div class="donation-box">
              <label>Currency</label>
              <select #currency="ngModel"
                [(ngModel)]="form.currency"
                class="form-control"
                name="currency"
              >
                <option *ngFor="let curr of getCurrency()" [ngValue]="curr">{{curr}}</option>
              </select>
            </div>
            <div class="donation-box">
              <label>Message</label>
              <input
                #message="ngModel"
                [(ngModel)]="form.message"
                class="form-control"
                name="message"
                type="text"
              >
            </div>
            <div class="loader" *ngIf="wait"></div>
            <button class="full-button">Send</button>
            <button class="close-button" (click)="popup = false">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    <div class="loader" *ngIf="user==null"></div>
  </div>
  <!-- End of container -->
</main>

