<header>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</header>

<main>
  <div class="container">
    <div class="profile">
      <div class="profile-image">
        <img src="{{this.creator?.avatar}}" alt="Avatar">
      </div>
      <div class="profile-user-settings">
        <h1 class="profile-user-name">{{this.user?.nickname}}</h1>
        <span class="profile-real-name">@{{this.user?.username}}</span>
        <!--<div class="artist-type">{{this.creator?.creatorType?.replace('_', ' ')}}</div>-->
        <!--<button class="btn-reload" (click)="reload()">Refresh<i class='fas fa-redo'></i></button>-->
      </div>
      <div class="profile-stats">
        <div class="stat">
          <span class="profile-stat-count">{{this.user?.fanIds?.length}}</span>
          fans
        </div>
        <div class="stat">
          <span class="profile-stat-count">{{this.user?.inspirerIds?.length}}</span>
          inspirers
        </div>
      </div>
      <div class="profile-name">
        <button class="btn-follow" *ngIf="!this.sameId && !this.followed" (click)="this.follow()">Follow</button>
        <button class="btn-unfollow" *ngIf="!this.sameId && this.followed" (click)="this.unfollow()">Unfollow</button>
        <button class="btn-edit" *ngIf="sameId" [routerLink]="'/profile'">Edit</button>
        <!--<h3>{{this.creator?.creatorType}}</h3>-->
      </div>
    </div>
    <div class="nav">
      <a [routerLink]="'/about/' + this.userId">About</a>
      <a [routerLink]="'/portfolio/' + this.userId">Portfolio</a>
      <a [routerLink]="'/collaborations/' + this.userId">Collaborations</a>
      <a [routerLink]="'/events/' + this.userId" class="active">Events</a>
      <a [routerLink]="'/shop/' + this.userId">Shop</a>
    </div>
    <div class="loader" *ngIf="user==null"></div>
    <div class="gallery-container">
      <div class="gallery">
        <a *ngIf="this.userId == getUserInfo().id" [routerLink]="'/modify-event/'" class="add-pub">+<br>Add event</a>
        <a *ngFor="let publication of listEvents" [routerLink]="'/event/' + publication.id" class="gallery-item"
          tabindex="0">
          <img src="{{publication.image}}" class="gallery-image" alt="">
          <div class="gallery-item-info">
            <ul>
              <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i aria-hidden="true"
                class="fas fa-heart"></i>{{this.getLikesCount(publication.id)}}</li>
              <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i aria-hidden="true"
                class="fas fa-comment"></i> {{this.getCommentsCount(publication.id)}}</li>
            </ul>
          </div>
        </a>
      </div>
      <div class="loader" *ngIf="listPublicationInfo == undefined"></div>
    </div>
  </div>
</main>
