.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 105px 30px 30px;
}

body, html {
  background: #FAFAFA;
}

.reset-btn {
  padding: 6px 30px;
  background: #636363;
  border: 2px solid #636363;
  border-radius: 1000px;
  color: #FFFFFF;
}

.reset-btn:hover {
  border: 2px solid #636363;
  border-radius: 1000px;
  color: #636363;
  background: transparent;
}

.save-btn {
  background: #90BE6D;
  color: #FFFFFF;
  font-family: "Jost", serif;
  padding: 10px 30px;
  border: 2px solid #90BE6D;
  border-radius: 1000px;
  font-size: 15px;
  margin-top: 20px;
}

.delete-btn {
  color: #DB4437;
  background: transparent;
  font-family: "Jost", serif;
  padding: 10px 30px;
  border: 2px solid #DB4437;
  border-radius: 1000px;
  font-size: 15px;
}

.delete-btn:hover {
  background: #DB4437;
  color: #FFFFFF;
}

.publication-box {
  vertical-align: middle;
  margin: auto;
  font-family: "Jost", serif;
  width: 400px;
  background: rgba(255, 255, 255, 1);
  #box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.publication-box h2 {
  padding-top: 20px;
  font-weight: 500;
  color: #000;
}

.publication-box .artwork-box {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.publication-box .artwork-box input {
  padding: 10px;
  background: rgba(240, 240, 240, 0.8);
  border-radius: 50px;
  border: none;
  font-size: 16px;
  color: #000;
  width: 275px;
}

.publication-box label {
  overflow: hidden;
  flex-wrap: wrap;
  width: 275px;
}

.empty-button {
  font-family: "Jost", serif;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  color: #00A3FF;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 13px;
  width: 100%;
}

.empty-button:hover {
  background: #00A3FF;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
  color: white;
}

.full-button {
  font-family: "Jost", serif;
  padding: 10px 30px;
  width: 90%;
  height: 42px;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 15px;
  color: #00A3FF;
  background: transparent;
}

.full-button:hover {
  background: #00A3FF;
  color: #FFFFFF;
}

.alert {
  color: #636363;
  font-size: 14px;
}

.empty-button img {
  height: 20px;
  margin-right: 15px;
}

.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 38%;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-check .checkmark:after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.submit-box {

}

.message-box {
  margin: 20px;
}

.success {
  color: #90BE6D;
}

.fail {
  color: #DB4437;
}
