.container {
  text-align: center;
  display: flex;
  align-items: center;
  height: 110vh;
}

.login-box {
  vertical-align: middle;
  margin: auto;
  font-family: "Jost";
  width: 400px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-box h2 {
  padding-top: 20px;
  font-weight: 500;
  color: #000;
}

.login-box .user-box {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.login-box .user-box input {
  padding: 10px;
  background: rgba(240, 240, 240, 0.8);
  border-radius: 50px;
  border: none;
  font-size: 16px;
  color: #000;
  width: 100%;
}

.empty-button {
  font-family: "Jost";
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  color: #00A3FF;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 13px;
  width: 100%;
}

.empty-button:hover {
  background: #00A3FF;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
  color: white;
}

.full-button {
  font-family: "Jost";
  background: #00A3FF;
  padding: 10px 30px;
  color: #ffffff;
  width: 90%;
  height: 42px;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 15px;
}

.full-button:hover {
  color: #00A3FF;
  background: transparent;
  border: 2px solid #00A3FF;
}

.social-logins-button {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.social-logins-button button {
  margin: 4px;
  color: black;
  border: 2px solid black;
}

.social-logins-button button:hover {
  background: transparent;
}

.alert {
  color: #636363;
  font-size: 14px;
}

.empty-button img {
  height: 20px;
  margin-right: 15px;
}

.fb {
  background: #4267B2;
}

.google {
  background: #DB4437;
}

.login-buttons {
  padding-top: 25px;
}





