<div class="container">
<div class="login-box">
    <h2>Login</h2>
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="user-box">
        <label>E-mail</label>
        <input type="text"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email.errors && f.submitted"
        >
          Email is required!
        </div>
      </div>
      <div class="user-box">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password.errors && f.submitted"
        >
          <div *ngIf="password.errors?.['required']">Password is required!</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters.
          </div>
        </div>
      </div>

      <button class="full-button">Login</button>
      <div *ngIf="!isLoggedIn">
        <p>or login using</p>
        <div class="social-logins-button">
          <button class="empty-button" (click)="loginWithGoogle()">
            <img src="https://img.icons8.com/ios-glyphs/30/000000/google-logo--v1.png">
            Google
          </button>
          <button class="empty-button" (click)="loginWithFacebook()">
            <img src="https://img.icons8.com/ios-filled/50/000000/facebook--v1.png"/>
            Facebook
          </button>
        </div>
      </div>

      <div class="form-group">
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isLoggedIn">
      Logged in successfully.
    </div>
    <div class="alert login" *ngIf="!isLoggedIn">
      <p>Don't have an account yet?<br><a href="javascript:void(0)" [routerLink]="['/registration']">Sign up</a></p>
    </div>
  </div>
</div>
