<div class="container">
  <div class="login-box">
    <h2>Login</h2>
    <form
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      *ngIf="!isLoggedIn"
      name="form"
      novalidate
    >
      <div class="user-box">
        <label>E-mail</label>
        <input #email="ngModel"
          [(ngModel)]="form.email"
          class="form-control"
          name="email"
          required
          autocomplete="email"
          type="email"
        />
        <div
          *ngIf="email.errors && f.submitted"
          class="alert alert-danger"
          role="alert">
          Email is required!
        </div>
      </div>
      <div class="user-box">
        <label>Password</label>
        <input
          #password="ngModel"
          [(ngModel)]="form.password"
          class="form-control"
          minlength="6"
          name="password"
          required
          type="password"
          autocomplete="current-password"
        />
        <div
          *ngIf="password.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
        >
          <div *ngIf="password.errors?.['required']">Password is required!</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters.
          </div>
        </div>
      </div>

      <button class="full-button">Login</button>

      <div class="form-group">
        <div
          *ngIf="f.submitted && isLoginFailed"
          class="alert alert-danger"
          role="alert"
        >
          Login failed: {{ errorMessage }}
        </div>
      </div>
    </form>
    <div *ngIf="!isLoggedIn" class="login-buttons">
      <p>or login using</p>
      <div class="social-logins-button">
        <div id="googleButton"></div>
        <button (click)="loginWithFacebook()" class="empty-button">
          <img alt="Log in with Facebook" src="https://img.icons8.com/ios-filled/50/3b5998/facebook--v1.png">
          Accedi con Facebook
        </button>
      </div>
    </div>
    <div *ngIf="isLoggedIn" class="alert alert-success">
      Logged in successfully.
    </div>
    <div *ngIf="!isLoggedIn" class="alert login">
      <p>Don't have an account yet?<br><a [routerLink]="['/registration']">Sign up</a></p>
    </div>
  </div>
</div>
