<div class="container">
  <div class="form-box">
    <h2>Compile your collaboration Request</h2>
    <form
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      name="form"
      novalidate
      >
      <div class="user-box">
        <label>Title</label>
        <input #title="ngModel"
               [(ngModel)]="form.title"
               class="form-control"
               name="title"
               required
               type="text"
        />
        <div
          *ngIf="title.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
          >
          Title is required!
        </div>
      </div>
      <div class="user-box">
        <label>Description</label>
        <input #description="ngModel"
               [(ngModel)]="form.description"
               class="form-control"
               name="description"
               required
               type="text"
        />
        <div
          *ngIf="description.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
          >
          Description is required!
        </div>
      </div>
      <div class="user-box">
        <label>Creator receiver</label>
        <select #nickname="ngModel"
                [(ngModel)]="form.nickname"
                class="form-control"
                name="nickname"
                required
        >
          <option *ngFor="let nickname of listNickname" [ngValue]="nickname">{{nickname}}</option>
        </select>
      <div
        *ngIf="nickname.errors && f.submitted"
        class="alert alert-danger"
        role="alert"
        >
        Creator receiver is required!
      </div>
      </div>
      <div class="user-box">
        <label>Contact</label>
        <input #contact="ngModel"
               [(ngModel)]="form.contact"
               class="form-control"
               name="contact"
               required
               type="text"
        />
        <div
          *ngIf="contact.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
          >
          Contact is required!
        </div>
      </div>
      <div class="user-box">
        <label>Category</label>
        <select #category="ngModel"
                [(ngModel)]="form.category"
                class="form-control"
                name="category"
                required
        >
          <option *ngFor="let category of getCategory()" [ngValue]="category">{{category}}</option>
        </select>
        <div
          *ngIf="category.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
          >
          Category is required!
        </div>
      </div>
      <button class="full-button">Submit</button>
    </form>
    <h3 *ngIf="this.submitted">Request submitted!</h3>
    <h4 *ngIf="this.errorMessage!=''" style="color:red;">{{this.errorMessage}}</h4>
  </div>
</div>
