.add-pub {
  text-align: center;
  font-family: "Jost";
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #00A3FF;
  border: 3px dashed #00A3FF;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
}

.add-pub:hover {
  color: #FFFFFF;
  background: #00A3FF;
  border: 3px solid #00A3FF;
  border-radius: 10px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Gallery Section */

ul {
  margin: 0px;
  padding: 0px;
}
.gallery-container {
  position: relative;
  left: 0;
  width: 90%;
  margin: 0 auto;
  padding: 0 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer;
  max-height: 500px;
}
  .gallery-item:hover .gallery-item-info,
  .gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

.gallery-item-info {
  display: none;
}

.gallery-item-info i {
  padding: 10px;
}

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600;
  padding: 10px;
}

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
  transform: rotateY(180deg);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Loader */

.loader {
  width: 4rem;
  height: 4rem;
  border: 0.3rem solid #00A3FF;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

@supports (display: grid) {
  .profile {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);

    align-items: center;
  }

  .profile-image {
    grid-row: 1 / -1;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
  }

  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }
}

/* Spinner Animation */

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}



  .profile-bio {
    font-weight: 500;
    line-height: 1.5;
    margin-top: 2.3rem;
    margin-right: 9rem;
    width: 40%;
    position: relative;
    padding-top: 30px;
    padding-right: 5px;
  }


  .btn-reload{
    background-color: #06dbee;
    border-radius: 100px;
    border-width: 0;
    color: white;
    padding: 5px 6px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    position: relative;
    left: 20px;
  }


  .contacts a {
    position: relative;
    margin: 5px;
  }

