<body>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<div *ngIf="this.showSideMenu" class="side-menu w3-animate-left" >
  <img class="close-icon" src="https://img.icons8.com/ios-filled/50/000000/delete-sign--v1.png" (click)="toggleMenu()"/>
  <div class="primary-pages">
    <div class="page"  [routerLink]="['/home']">
      <img class="page-icon" src="../assets/home.png" />
      <a href="#">Home</a>
    </div>
    <div *ngIf="getUserInfo().creator" [routerLink]="['/about/'+getUserInfo().id]" class="page">
      <img class="page-icon" src="../assets/person.png" />
      <a>My page</a>
    </div>
    <div *ngIf="getUserInfo().creator" class="page"  [routerLink]="['/own-collabs/']">
      <img class="page-icon" src="../assets/ppl.png" />
      <a href="#">My collabs</a>
    </div>
    <div *ngIf="isLoggedIn" class="page">
      <img class="page-icon" src="../assets/shopbag.png" />
      <a href="#">Orders</a>
    </div>
    <div *ngIf="!getUserInfo().creator && isLoggedIn"class="page"  [routerLink]="['/upgrade-request/']">
      <img class="page-icon" src="../assets/upgrade.png" />
      <a>Upgrade to Creator</a>
    </div>
    <div class="page"></div>
    <div class="page" (click)="logout()" *ngIf="isLoggedIn">
      <img class="page-icon" src="../assets/logout.png" />
      <a>Logout</a>
    </div>
  </div>
  <div class="secondary-pages">

  </div>
</div>
<div *ngIf="this.showSideMenu" class="dark-background" (click)="toggleMenu()"></div>
<div class="navbar">
  <div class="left-nav">
    <img class="menu" src="../../assets/menu.png" (click)="toggleMenu()"/>
    <div [routerLink]="['/']" class="logo" href="javascript:void(0)">
      <div class="primary">creative</div>
      <div class="secondary">Hub</div>
    </div>
  </div>
  <div class="voices">
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']" href="javascript:void(0)">Login</a>
    <a *ngIf="!isLoggedIn" [routerLink]="['/registration']" href="javascript:void(0)">Registration</a>
    <a *ngIf="isLoggedIn" [routerLink]="['/profile']" href="javascript:void(0)">Hi, {{getUserInfo().nickname}}</a>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>
<footer>
</footer>
