<section class="main">
  <div class="wrapper">
    <div class="left-col">
      <div class="grid">
        <div class="post">
          <div class="artwork-pic">
            <img src="{{this.artwork.images[0]}}">
          </div>
          <div class="artwork-info">
            <p class="title">{{this.artwork.name}}</p>
            <p class="type">{{this.artwork.type}}</p>
            <p class="date"><img src="../assets/calendar.png">{{this.artwork.creationDateTime | date:"dd MMM yyyy"}}</p>
            <p class="description">{{this.artwork.description}}</p>
            <p class="artists">{{this.listUsers[0].getNickname()}}</p>
            <div class="sales-info">
              <p class="price">{{this.artwork.price}} €</p>
              <p class="qty">{{this.artwork.availableCopies}} pieces left</p>
            </div>
            <div class="interactions">
              <button class="buy-button">
                <img src="../assets/coins-w.png">
                Purchase
              </button>
              <div class="reaction-wrapper">
                <div class="count">
                  <img alt="" class="icon" src="../../assets/heart-outline.png">
                  <p class="count-label">{{this.countLikes}} likes</p>
                </div>
                <div class="count">
                  <img alt="" class="icon" src="../../assets/bubble-outline.png">
                  <p class="count-label">{{this.listComments.length}} comments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
