.comment-wrapper {
  margin-top: 20px;
  width: 100%;
  border-radius: 1px;
  padding-top: 20px;
  padding-bottom: 0px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}

.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.comment-btn,
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #FFF;
  background: #00A3FF;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 75px;
  width: 100%;
  left: 0px;
  padding: 30px;
}

.post {
  margin: auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  font-family: "Jost";
  padding: 30px;
  box-shadow: 0px 0px 5.4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-wrap: wrap;
}

.post .artwork-pic {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 400px;
}

.post .artwork-pic img {
  object-fit: cover;
  width: 100%;
}

.post .artwork-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.artwork-info .title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
}

.artwork-info .type {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #636363;
}

.artwork-info .date {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #636363;
  display: flex;
  align-items: center;
}

.artwork-info .description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: justify;
}

.artwork-info .artists {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #636363;
}

.artwork-info .price {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.artwork-info .qty {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #636363;
  margin-left: 30px;
}

.artwork-info .date img {
  height: 16px;
  margin-right: 10px;
}

.interactions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.count {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 70px;
}

.count-label {
  margin: 0 auto;
  color: #636363;
}

.interactions .reaction-wrapper {
  display: flex;
}

.reaction-wrapper .icon {
  height: 15px;
  margin-right: 10px;
}

.sales-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.buy-button {
  font-family: "Jost";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  background: #00A3FF;
  color: #ffffff;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
  font-weight: 500;
  font-size: 13px;
}

.buy-button img {
  height: 20px;
  margin-right: 15px;
}

