<div class="wrapper">
  <div class="container-nav">
    <div class="nav">
      <a [routerLink]="'/profile'">Edit profile</a>
      <a [routerLink]="'/orders'" class="active">Orders</a>
      <a [routerLink]="'/donations'">Donations</a>
      <a *ngIf="this.creator == null" [routerLink]="'/upgrade-requests'">Upgrade Requests</a>
      <a *ngIf="this.creator != null" [routerLink]="'/collaborations-requests'">Collaborations</a>
    </div>
  </div>
  <h2>History of orders</h2>
  <div class="table">
    <div class="row header">
      <div class="cell">
        Order ID
      </div>
      <div class="cell">
        Name of artwork
      </div>
      <div class="cell">
        Import
      </div>
      <div class="cell">
        Currency
      </div>
      <div class="cell">
        Destination Address
      </div>
      <div class="cell">
        Date
      </div>
    </div>
    <div class="row" *ngFor="let order of listOrders">
      <div class="cell" data-title="Id">
        {{order.id}}
      </div>
      <div class="cell" data-title="NameArtwork">
        {{getArtworkByOrder(order.idArtwork)}}
      </div>
      <div class="cell" data-title="Import">
        {{order.importo}}
      </div>
      <div class="cell" data-title="Currency">
        {{order.currency}}
      </div>
      <div class="cell" data-title="DestinationAddress">
        {{order.destinationAddress}}
      </div>
      <div class="cell" data-title="Date">
        {{order.timestamp | date : "medium"}}
      </div>
    </div>
  </div>
</div>
