<div id="popup1" class="overlay" *ngIf="popup">
  <div class="popup" >
    <button class="button" (click)="popup = false">&times;</button>
    <div class="content">
      <form
        #f="ngForm"
        (ngSubmit)="f.form.valid && ChangePassword()"
        name="formPassword"
        novalidate
        >
        <div class="infoUser-box">
          <div class="info-box">
            <label>Old password</label>
            <input #oldPassword="ngModel"
                   [(ngModel)]="formPassword.oldPassword"
                   class="form-control"
                   name="oldPassword"
                   required
                   type="password"
            >
            <div *ngIf="oldPassword.errors && f.submitted"
                 class="alert alert-danger"
                 role="alert"
                 >
              Old password is required!
            </div>
          </div>
          <div class="info-box">
            <label>New password</label>
            <input #newPassword="ngModel"
                   [(ngModel)]="formPassword.newPassword"
                   class="form-control"
                   name="newPassword"
                   required
                   type="password"
            >
            <div *ngIf="newPassword.errors && f.submitted"
                 class="alert alert-danger"
                 role="alert"
                 >
              New password is required!
            </div>
          </div>
          <div class="info-box">
            <label>Rewrite new password</label>
            <input #newPassword2="ngModel"
                   [(ngModel)]="formPassword.newPassword2"
                   class="form-control"
                   name="newPassword2"
                   required
                   type="password"
            >
            <div *ngIf="newPassword2.errors && f.submitted"
                 class="alert alert-danger"
                 role="alert"
                 >
              New password is required!
            </div>
          </div>
        </div>
        <button class="full-button">Change password</button>
      </form>
      <h4 *ngIf="this.submittedPassword" style="color: limegreen">Password changed!</h4>
      <h4 *ngIf="this.errorPassword!=''" style="color:red;">{{this.errorPassword}}</h4>
    </div>
  </div>
</div>
<div class="container" *ngIf="!popup">
  <div class="options-button">
    <button class="button-menu" (click)="popup = true">Change password</button>
    <button class="button-menu">Orders</button>
    <button class="button-menu">Donations</button>
    <button class="button-menu" *ngIf="this.creator != null">Upgrade requests</button>
  </div>
  <div class="profile-box">
    <h2>Modify your profile</h2>
    <button class="button" (click)="resetForm()">Reset</button>
    <form
      #f="ngForm"
      (ngSubmit)="f.form.valid && onSubmit()"
      name="form"
      novalidate
      >
      <div class="infoUser-box">
      <div class="info-box">
        <label>Username</label>
        <input #username="ngModel"
               [(ngModel)]="form.username"
               class="form-control"
               name="username"
               required
               type="text"
        />
        <div
          *ngIf="username.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
          >
          Username is required
        </div>
      </div>
      <div class="info-box">
        <label>Nickname</label>
        <input #nickname="ngModel"
               [(ngModel)]="form.nickname"
               class="form-control"
               name="nickname"
               required
               type="text"
        >
        <div
          *ngIf="nickname.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
          >
          Nickname is required!
        </div>
      </div>
      <div class="info-box">
        <label>E-mail</label>
        <input #email="ngModel"
               [(ngModel)]="form.email"
               class="form-control"
               name="email"
               required
               type="text"
        >
        <div
          *ngIf="email.errors && f.submitted"
          class="alert alert-danger"
          role="alert"
          >
          E-mail is required!
        </div>
      </div>
      </div>
      <div class="infoCreator" *ngIf="creator != null">
        <div class="info-box">
          <label>Name</label>
          <input #name="ngModel"
                 [(ngModel)]="form.name"
                 class="form-control"
                 name="name"
                 required
                 type="text"
          >
          <div
            *ngIf="name.errors && f.submitted"
            class="alert alert-danger"
            role="alert"
            >
            Name is required!
          </div>
        </div>
        <div class="info-box">
          <label>Surname</label>
          <input #surname="ngModel"
                 [(ngModel)]="form.surname"
                 class="form-control"
                 name="surname"
                 required
                 type="text"
          >
          <div
            *ngIf="surname.errors && f.submitted"
            class="alert alert-danger"
            role="alert"
            >
            Surname is required!
          </div>
        </div>
        <div class="info-box">
          <label>Birth Date</label>
          <input #birthDate="ngModel"
                 [(ngModel)]="form.birthDate"
                 class="form-control"
                 name="birthDate"
                 required
                 type="date"
          >
          <div
            *ngIf="birthDate.errors && f.submitted"
            class="alert alert-danger"
            role="alert">
            Birth date is required!
          </div>
        </div>
        <div class="info-box">
          <label>Biography</label>
          <input #bio="ngModel"
                 [(ngModel)]="form.bio"
                 class="form-control"
                 name="bio"
                 required
                 type="text"
          >
          <div
            *ngIf="bio.errors && f.submitted"
            class="alert alert-danger"
            role="alert">
            Biography is required!
          </div>
        </div>
        <div class="info-box">
          <label>Creator type</label>
          <select #creatorType="ngModel"
                  [(ngModel)]="form.creatorType"
                  class="form-control"
                  name="creatorType"
                  required
          >
            <option *ngFor="let type of getCreatorType()" [ngValue]="type">{{type}}</option>
          </select>
          <div
            *ngIf="creatorType.errors && f.submitted"
            class="alert alert-danger"
            role="alert"
            >
            Creator type is required!
          </div>
        </div>
        <div class="info-box">
          <label>Avatar</label>
          <input #avatar="ngModel"
                 [(ngModel)]="form.avatar"
                 class="form-control"
                 name="avatar"
                 required
                 type="text"
          />
          <div
            *ngIf="avatar.errors && f.submitted"
            class="alert alert-danger"
            role="alert"
            >
            Avatar is required!
          </div>
        </div>
        <div class="info-box">
          <label>Payment E-mail</label>
          <input #paymentEmail="ngModel"
                 [(ngModel)]="form.paymentEmail"
                 class="form-control"
                 name="paymentEmail"
                 required
                 type="text"
          />
          <div
            *ngIf="paymentEmail.errors && f.submitted"
            class="alert alert-danger"
            role="alert"
          >
            Payment E-mail is required!
          </div>
        </div>
      </div>
      <button id="full-button">Submit</button>
    </form>
    <h4 *ngIf="this.submitted" style="color: limegreen">Request submitted!</h4>
    <h4 *ngIf="this.errorMessage!=''" style="color:red;">{{this.errorMessage}}</h4>
  </div>
</div>

