<div class="wrapper">
  <div class="container-nav" >
    <div class="nav" >
      <a href="javascript:void(0)" [routerLink]="'/profile'">Edit profile</a>
      <a href="javascript:void(0)" [routerLink]="'/orders'">Orders</a>
      <a href="javascript:void(0)" [routerLink]="'/donations'">Donations</a>
      <a href="javascript:void(0)" [routerLink]="'/upgrade-requests'" *ngIf="this.creator == null">Upgrade Requests</a>
      <a class="active" href="javascript:void(0)" [routerLink]="'/collaborations-requests'"  *ngIf="this.creator != null">Collaborations</a>
    </div>
  </div>
  <div class="new-req">
    <button class="btn-request" [routerLink]="'/collaboration-request'">New collaboration</button>
  </div>
  <div class="table">
    <h2>Request sent</h2>
    <div class="row header" >
      <div class="cell">
        Recipient
      </div>
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Description
      </div>
      <div class="cell">
        Contact
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Status
      </div>
      <div class="cell">
        Close
      </div>
    </div>

    <div class="row" *ngFor="let request of listSent">
      <div class="cell" data-title="Receiver" *ngIf="(request.receiverId != this.creatorId)">
        {{getUser(request.receiverId)}}
      </div>
      <div class="cell" data-title="Receiver" *ngIf="(request.receiverId == this.creatorId)">
        Broadcast
      </div>
      <div class="cell" data-title="Title">
        {{request.title}}
      </div>
      <div class="cell" data-title="Description">
        {{request.description}}
      </div>
      <div class="cell" data-title="Contact">
        {{request.contact}}
      </div>
      <div class="cell" data-title="Category">
        {{request.category}}
      </div>
      <div class="cell" data-title="Status">
        {{request.status}}
      </div>
      <div class="button-reject">
        <img src="./assets/bin.png" alt="Delete request" *ngIf="(request.status == 'OPEN')" (click)="closeRequest(request)">
      </div>
    </div>

  </div>

  <div class="table">
    <h2>Request received</h2>
    <div class="row header green">
      <div class="cell">
        Sender
      </div>
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Description
      </div>
      <div class="cell">
        Contact
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Status
      </div>
      <div class="cell">
        Reject
      </div>
    </div>

    <div class="row" *ngFor="let request of listReceived">
      <div class="cell" data-title="Sender">
        {{getUser(request.senderId)}}
      </div>
      <div class="cell" data-title="Title">
        {{request.title}}
      </div>
      <div class="cell" data-title="Description">
        {{request.description}}
      </div>
      <div class="cell" data-title="Contact">
        {{request.contact}}
      </div>
      <div class="cell" data-title="Category">
        {{request.category}}
      </div>
      <div class="cell" data-title="Status">
        {{request.status}}
      </div>
        <div class="button-reject">
          <img src="./assets/delete-circled.png" alt="Reject request" *ngIf="(request.status == 'OPEN')" (click)="rejectRequest(request)">
        </div>
    </div>

  </div>

  <div class="table">
    <h2>Request broadcast</h2>
    <div class="row header blue">
      <div class="cell">
        Sender
      </div>
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Description
      </div>
      <div class="cell">
        Contact
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Status
      </div>
    </div>

    <div class="row" *ngFor="let request of listBroadcast">
      <div class="cell" data-title="Sender">
        {{getUser(request.senderId)}}
      </div>
      <div class="cell" data-title="Title">
        {{request.title}}
      </div>
      <div class="cell" data-title="Description">
        {{request.description}}
      </div>
      <div class="cell" data-title="Contact">
        {{request.contact}}
      </div>
      <div class="cell" data-title="Category">
        {{request.category}}
      </div>
      <div class="cell" data-title="Status">
        {{request.status}}
      </div>
    </div>

  </div>

</div>
