<div class="wrapper">
  <div class="container-nav">
    <div class="nav">
      <a [routerLink]="'/profile'">Edit profile</a>
      <a [routerLink]="'/orders'">Orders</a>
      <a [routerLink]="'/donations'">Donations</a>
      <a *ngIf="this.creator == null" [routerLink]="'/upgrade-requests'">Upgrade Requests</a>
      <a *ngIf="this.creator != null" [routerLink]="'/collaborations-requests'" class="active">Collaborations</a>
    </div>
  </div>
  <div class="new-req">
    <button [routerLink]="'/collaboration-request'" class="btn-request">New collaboration request</button>
  </div>
  <h2>Sent requests</h2>
  <div class="table">
    <div class="row header">
      <div class="cell">
        Recipient
      </div>
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Description
      </div>
      <div class="cell">
        Contact
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Status
      </div>
      <div class="cell">
        Close
      </div>
    </div>

    <div class="row" *ngFor="let request of listSent">
      <div class="cell" data-title="Receiver" *ngIf="(request.receiverId != this.creatorId)">
        {{getUser(request.receiverId)}}
      </div>
      <div class="cell" data-title="Receiver" *ngIf="(request.receiverId == this.creatorId)">
        Broadcast
      </div>
      <div class="cell" data-title="Title">
        {{request.title}}
      </div>
      <div class="cell" data-title="Description">
        {{request.description}}
      </div>
      <div class="cell" data-title="Contact">
        {{request.contact}}
      </div>
      <div class="cell" data-title="Category">
        {{request.category}}
      </div>
      <div class="cell" data-title="Status">
        {{request.status}}
      </div>
      <div class="button-reject">
        <img (click)="closeRequest(request)" *ngIf="(request.status == 'OPEN')" alt="Delete request"
          src="./assets/bin.png">
      </div>
    </div>
  </div>

  <h2>Received requests</h2>
  <div class="table">
    <div class="row header green">
      <div class="cell">
        Sender
      </div>
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Description
      </div>
      <div class="cell">
        Contact
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Status
      </div>
      <div class="cell">
        Reject
      </div>
    </div>

    <div class="row" *ngFor="let request of listReceived">
      <div class="cell" data-title="Sender">
        {{getUser(request.senderId)}}
      </div>
      <div class="cell" data-title="Title">
        {{request.title}}
      </div>
      <div class="cell" data-title="Description">
        {{request.description}}
      </div>
      <div class="cell" data-title="Contact">
        {{request.contact}}
      </div>
      <div class="cell" data-title="Category">
        {{request.category}}
      </div>
      <div class="cell" data-title="Status">
        {{request.status}}
      </div>
      <div class="button-reject">
        <img (click)="rejectRequest(request)" *ngIf="(request.status == 'OPEN')" alt="Reject request"
          src="./assets/delete-circled.png">
      </div>
    </div>
  </div>

  <h2>Broadcast requests</h2>
  <div class="table">
    <div class="row header blue">
      <div class="cell">
        Sender
      </div>
      <div class="cell">
        Title
      </div>
      <div class="cell">
        Description
      </div>
      <div class="cell">
        Contact
      </div>
      <div class="cell">
        Category
      </div>
      <div class="cell">
        Status
      </div>
    </div>

    <div class="row" *ngFor="let request of listBroadcast">
      <div class="cell" data-title="Sender">
        {{getUser(request.senderId)}}
      </div>
      <div class="cell" data-title="Title">
        {{request.title}}
      </div>
      <div class="cell" data-title="Description">
        {{request.description}}
      </div>
      <div class="cell" data-title="Contact">
        {{request.contact}}
      </div>
      <div class="cell" data-title="Category">
        {{request.category}}
      </div>
      <div class="cell" data-title="Status">
        {{request.status}}
      </div>
    </div>

  </div>

</div>
