body, html {
  background: #FAFAFA;
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 80px;
  width: 100%;
  left: 0px;
}

.post {
  height: auto;
  background: #fff;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
  border: 1px solid #dfdfdf;
  margin: 30px 20px;
  border-radius: 5px;
  font-family: "Jost";
  max-width: 600px;
  min-width: 300px;
}

.info {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-style: normal;
  font-weight: 300;
  color: #636363;
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.05em;

}

.info .nickname {
  font-weight: 500;
  margin: 0;
  font-size: 16px;
}


.info .names {
  display: flex;
  flex-direction: column;
}

.info .options {
  height: 10px;
  cursor: pointer;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.info .profile-pic img {
  border-radius: 100%;

  border: none;
}

.post-name {
  font-weight: 700;
  margin: 0;
}

.post-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content {
  padding: 20px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
  color: #636363;
  text-align: justify;
  display: none;
}

.description span {
  font-weight: 100;
  margin-right: 10px;
}

.post-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.comment-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 1px;
  border: 25px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}

.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}

.comment-btn,
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(0, 162, 255);
  opacity: 0.5;
}

.reaction-wrapper {
  display: flex;
  align-items: center;
}

.count .icon {
  height: 20px;
  margin-right: 10px;
}

.reaction-wrapper .icon.save {
  margin-left: auto;
}

.count {
  display: flex;
  min-width: 90px;
}

.count-label {
  color: #636363;
}

/* Loader */
.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite;
}

/* Spinner Animation */
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
