body, html {
  background: #FAFAFA;
}

.landing {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), center url('https://cdn.dribbble.com/users/11653188/screenshots/18235765/media/6a97ba7bb47a86aa293d4ac8261b1d51.png');
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: 60px;
  justify-content: center;
  color: #FFFFFF;
  font-family: "Jost";
}

.motto {
  display: flex;
}

.motto-first {
  font-weight: 100;
}

.motto-last {
  font-weight: 700;
}

.landing h1 {
  font-size: 60px;
}

.landing p {
  font-size: 19px;
  font-weight: 100;
}

.landing button {
  margin-top: 5px;
  align-items: center;
  padding: 10px 30px;
  background: #FFFFFF;
  color: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 1000px;
  width: 300px;
}

.landing button:hover {
  color: #FFFFFF;
  background: transparent;
}

.grid {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  left: 0px;
  margin-top: 74px;
}

.grid .heading {
  margin-top: 40px;
  font-family: "Jost";
  font-size: 35px;
}

.grid .loading {
  font-family: "Jost";
  color: #636363;
  padding-top: 20px;
  padding-bottom: 40px;
}

.artwork, .event, .post {
  height: auto;
  background: #fff;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
  border: 1px solid #dfdfdf;
  margin: 30px 20px;
  border-radius: 5px;
  font-family: "Jost";
  max-width: 600px;
  min-width: 300px;
}

.location {
  color: #636363;
}

.location img {
  height: 20px;
  margin-right: 10px;
}

.date {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #636363;
}

.date img {
  height: 20px;
  margin-right: 10px;
}

.info {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.info .username {
  width: auto;
  font-style: normal;
  font-weight: 300;
  color: #636363;
  font-size: 14px;
  margin: 0;
  letter-spacing: 0.05em;

}

.info .nickname {
  font-weight: 500;
  margin: 0;
  font-size: 16px;
}


.info .names {
  display: flex;
  flex-direction: column;
}

.info .options {
  height: 10px;
  cursor: pointer;
}

.info .user {
  display: flex;
  align-items: center;
}

.info .profile-pic {
  margin-right: 10px;
  height: 30px;
  width: 30px;
}

.info .profile-pic img {
  border-radius: 100%;

  border: none;
}

.name {
  font-weight: 700;
  margin: 0;
  font-size: 1.2rem;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.content {
  padding: 20px;
}

.description {
  font-size: 0.75rem;
  line-height: 20px;
  font-weight: 100;
  color: #636363;
  text-align: justify;
  display: none;
}

.post .description {
  display: block;
  font-size: 1rem;
}

.description span {
  font-weight: 100;
  margin-right: 10px;
}

.time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.comment-wrapper {
  width: 100%;
  border-radius: 1px;
  padding: 25px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-wrapper .icon {
  height: 30px;
}

.comment-box {
  width: 80%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.comment-btn,
.action-btn {
  width: 70px;
  height: 100%;
  background: none;
  outline: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #FFF;
  background: #00A3FF;
  border: 2px solid #00A3FF;
  border-radius: 1000px;
}

.reaction-wrapper {
  display: flex;
}

.reaction-wrapper .icon.save {
  margin-left: auto;
}

.count {
  display: flex;
  align-items: center;
  margin-right: 5px;
  min-width: 70px;
}

.count-label {
  margin: 0 auto;
  color: #636363;
  min-width: 70px;
}

.count .icon {
  height: 20px;
  margin-right: 10px;
}

/* Loader */
.loader {
  width: 4rem;
  height: 4rem;
  border: 0.35rem solid #636363;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: loader 500ms linear infinite;
  top: 40vh;
  position: absolute;
  margin: 0 auto;
}

/* Spinner Animation */
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 40rem) {
  .landing {
    text-align: center;
    align-items: center;
  }
}
