<section class="main">
  <div class="grid">
    <div class="wrapper">
      <div class="left-col">
      <div *ngFor="let element of listFeed" class="post">
        <div *ngFor="let user of element.getUsers()" class="info">
          <div class="user">
            <div class="profile-pic">
              <img alt="" src="{{this.getCreator(user).getAvatar()}}" class="profile-pic">
            </div>
            <div class="names">
              <p class="nickname"> {{this.getUser(user).getNickname()}}</p>
              <p class="username">@{{this.getUser(user).getUsername()}}</p>
            </div>
          </div>
          <img alt="" class="options" src="../../assets/img/option.PNG">
        </div>
         <div *ngIf="element.publication.publicationType == 'artwork'">
        <img *ngFor="let images of element.publication.images" alt="" class="post-image" src="{{images}}">
        </div>
        <div class="post-content">
          <div *ngIf="element.publication.publicationType == 'artwork'">
            <p [routerLink]="['/artwork/'+element.publication.id]" class="post-name" href="javascript:void(0)">
            {{element.publication.name}} </p>
          </div>
          <div *ngIf="element.publication.publicationType == 'event'">
            <p [routerLink]="['/event/'+element.publication.id]" class="post-name" href="javascript:void(0)">
              {{element.publication.name}} </p>
          </div>
          <div *ngIf="element.publication.publicationType == 'post'">
            <p [routerLink]="['/post/'+element.publication.id]" class="post-name" href="javascript:void(0)">
              {{element.publication.title}} </p>
          </div>
          <div *ngIf="element.publication.publicationType == 'artwork' || element.publication.publicationType == 'event'">
            <p class="description"><span>{{element.publication.description}}</span></p>
          </div>
          <p class="post-time">{{element.publication.lastUpdate | date:"dd MMM yyyy, HH:mm"}}</p>
          <div class="reaction-wrapper">
            <div class="count">
              <img alt="" class="icon" src="../../assets/heart-outline.png">
              <p class="count-label">{{element.getLikes()}} likes</p>
            </div>
            <div class="count">
              <img alt="" class="icon" src="../../assets/bubble-outline.png">
              <p class="count-label">{{element.getComments().length}} comments</p>
            </div>
          </div>
        </div>
        <div class="list-comment">
          <div class="comment">
            <p *ngFor="let comment of element.getComments()">{{comment}}</p>
          </div>
        </div>
          <div *ngIf="this.isLoggedIn" class="comment-wrapper">
            <input class="comment-box" placeholder="Add a comment" type="text">
            <button class="comment-btn">post</button>
          </div>
        </div>
      </div>
    </div>
      <div class="loader" *ngIf="listFeed==null"></div>
  </div>
</section>
