<div class="col-md-12" xmlns="http://www.w3.org/1999/html">
  <div class="container">
  <div class="login-box">
    <h2>Registration</h2>
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="user-box">
        <label>Nickname</label>
        <input
          type="text"
          class="form-control"
          name="nickname"
          [(ngModel)]="form.nickname"
          required
          minlength="3"
          maxlength="20"
          #nickname="ngModel"
        />
        <div class="alert alert-danger" *ngIf="nickname.errors && f.submitted">
          <div *ngIf="nickname.errors?.['required']">Nickname is required</div>
          <div *ngIf="nickname.errors?.['minlength']">
            Nickname must be at least 3 characters
          </div>
          <div *ngIf="nickname.errors?.['maxlength']">
            Nickname must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="user-box">
        <label>E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors?.['required']">Email is required</div>
          <div *ngIf="email.errors?.['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="user-box">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors?.['required']">Password is required</div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

     <button class="full-button">Sign up</button>


      <div class="alert alert-warning" *ngIf="f.submitted && isRegistrationFailed">
        Signup failed!<br/>{{ errorMessage }}
      </div>
    </form>
    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful! Check your e-mail.
    </div>
    <div class="alert alert-login" *ngIf="!isSuccessful">
      <p>Already have an account?<br><a href="javascript:void(0)" [routerLink]="['/login']">Login</a></p>
    </div>
  </div>
  </div>
</div>
